amqp==5.0.6
billiard==3.6.4.0
cached-property==1.5.2
celery==5.1.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
crypto==1.4.1
cryptography==3.4.7
idna==2.10
importlib-metadata==4.3.1
kombu==5.1.0
Naked==0.1.31
pkg-resources==0.0.0
prompt-toolkit==3.0.18
pyasn1==0.4.8
pycparser==2.20
pycryptodome==3.10.1
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
rsa==4.7.2
shellescape==3.8.1
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.5
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.1
